<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.last.booking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--Camera Feature 声明对camera feature的使用 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".BookApplication"
        android:usesCleartextTraffic="true">



        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.main.MainActivity"/>
        <activity android:name=".ui.booking.BookingActivity"/>
        <activity android:name=".ui.messageRealtime.MessageRealtimeActivity"/>
        <activity android:name=".ui.businessCheck.BusinessCheckActivity"/>
        <activity android:name=".ui.bookDetail.BookDetailActivity"/>
        <activity android:name=".ui.orderFinalCheck.OrderFinalCheckActivity"/>
        <activity android:name=".ui.register.RegisterActivity"/>
        <activity android:name=".ui.newInformation.NewInformationActivity"/>
        <activity android:name=".ui.rebind.RebindActivity"/>
        <activity android:name=".ui.businessDetail.BusinessDetailActivity"/>

    </application>

</manifest>